/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c28;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #252537;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

h1 {
    margin: 0;
}

/* Estilo do botão "Filmes Populares" */
#popular-movies-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;

}

#popular-movies-button:hover {
    background-color: #555;
}

/* Estilo da caixa de busca */
.search-container {
    text-align: center;
    overflow: hidden;
    max-width: 300px; /* Largura inicial do ícone de pesquisa */
    transition: max-width 0.6s ease; /* Adiciona uma transição suave para a animação */
    display: flex;
    align-items: center;
}

/* Estilo para o ícone de pesquisa */
.search-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
}

/* Estilo para a entrada de texto (inicialmente oculta) */
#search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 0; /* Inicialmente, a largura é 0 */
    box-sizing: border-box;
    opacity: 0;
    transition: width 0.6s ease, opacity 0.6s ease; /* Transições para largura e opacidade */
}

/* Quando o mouse passa sobre a caixa de busca, ela se expande lateralmente */
.search-container:hover #search-input {
    width: 220px; /* Largura final ao expandir */
    opacity: 1; /* Torna o campo de entrada de texto visível */
}

.movie-details-container {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 90px;
}

/* Estilo para o contêiner do título */
.movie-title-container {
    flex: 1; /* Ajusta a proporção da largura do contêiner */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

/* Estilo para a seção de detalhes do filme na página de detalhes */
#movie-details .movie-info {
    flex: 1; /* Ocupa o espaço disponível ao lado da imagem */
    padding: 20px;
    padding-top: 90px; /* Adiciona um espaço superior para evitar sobreposição ao cabeçalho */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px; /* Borda arredondada no lado direito */
}

/* Certifique-se de que a imagem do filme ainda está à esquerda */
#movie-details .movie-image {
    flex: 1;
    overflow: hidden;
    position: relative;
}

#movie-details .movie-image img {
    max-width: 100%;
    height: auto;
}

/* Estilo para a imagem do filme */
.movie-image {
    flex: 0.5; /* Reduz a proporção da imagem */
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    overflow: hidden; /* Impede que a imagem seja cortada */
    align-items: center;
}

.movie-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilo para o contêiner do título e informações */
.movie-info-container {
    flex: 2; /* Ajusta a proporção da largura do contêiner */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding-top: 20px; 
}

/* Estilo para o título do filme */
.movie-title {
    font-size: 2.4rem; 
    margin: 10px 0; 
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    font-weight: bold; 
}

/* Estilo para a classe .movie-info na página de detalhes */
.movie-page .movie-info {
    flex: 2; /* As informações do filme ocuparão mais espaço do que a imagem */
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0 5px 5px 0; 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
}

/* Estilo para a classe .movie-info na página principal */
.index-page .movie-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column; /* Altere para column para empilhar elementos verticalmente */
    align-items: center; /* Centralize verticalmente */
    justify-content: center; /* Centralize horizontalmente */
    text-align: center;
    transition: transform 0.5s ease;
    opacity: 0;
}
/* Quando o mouse passa sobre o cartão, o nome do filme aparece e a imagem fica mais escura */
.movie-card:hover .movie-info {
    transform: translateY(0); /* Mova o texto de volta para dentro do cartão */
    opacity: 1; /* Torna o texto do nome do filme visível */
}

.movie-card:hover .movie-image img {
    filter: brightness(60%); /* Escurece a imagem quando o mouse passa sobre o cartão */
}



/* Estilo para os detalhes do filme */
.movie-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

/* Estilize informações específicas, como ano de lançamento */
.movie-info p strong {
    color: #fff; /* Cor personalizada */
}

/* Estilizar a lista de gêneros */
.movie-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilizar os itens da lista de gêneros como cartões */
.movie-info ul li {
    font-size: 1rem;
    color: #777;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block; /* Exibir os cartões lado a lado */
}

/* Estilo para a div do plano de fundo */
.movie-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center top 70px;
    z-index: -1; /* Coloca o plano de fundo atrás do conteúdo */
    background-size: cover;
    background-position: center top; /* Posiciona a imagem no topo */
    opacity: 0.7; /* Define a opacidade desejada */
    transition: opacity 0.5s ease; 
}

/* Estilo do botão de retorno */
#back-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none; /* Remova sublinhado de links */
}

#back-button:hover {
    background-color: #555;
}

/* Estilo para o botão "Assistir" */
#watch-button {
    background-color: #f65261;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: auto; /* Empurra o botão para a parte inferior do container */
    transition: background-color 0.3s ease;
}

#watch-button:hover {
    background-color: #f43846;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

/* Estilo do container de filmes */
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo para caixa de filme */
.movie-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.movie-card img {
    max-width: 100%;
    height: auto;
}


.movie-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #fff;
    opacity: 0; /* Inicialmente, o nome do filme está oculto */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave para a animação de aparecimento */
}

.movie-card a {
    text-decoration: none; /* Remova sublinhado de links */
}

.movie-card p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
}

/* Efeito de hover */
.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-card:hover h2 {
    opacity: 1; /* Torna o nome do filme visível */
}

/* Consulta de mídia para telas maiores (min-width: 768px) */
@media (min-width: 768px) and (max-width: 991px) {
    header {
        padding: 10px;
    }
    h1 {
        font-size: 1.5rem;
    }
    .search-container {
        width: 100%;
        text-align: center;
    }
    #search-input {
        width: 100%;
        max-width: 80%;
    }
    #search-button {
        width: 100%;
        max-width: 80%;
        margin-top: 10px;
    }
    .movie-card {
        width: 45%; /* Ou qualquer valor adequado para a exibição em tablets */
    }
}

@media (max-width: 767px) {
    header {
        padding: 10px;
    }
    h1 {
        font-size: 1.2rem;
    }
    .search-container {
        width: 100%;
        text-align: center;
    }
    #search-input {
        width: 100%;
        max-width: 80%;
    }
    #search-button {
        width: 100%;
        max-width: 80%;
        margin-top: 10px;
    }
    .movie-card {
        width: 100%; /* Exibir um filme por linha em smartphones */
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }
    h1 {
        font-size: 1.1rem;
    }
    .search-container {
        width: 100%;
        text-align: center;
    }
    #search-input {
        width: 100%;
        max-width: 80%;
    }
    #search-button {
        width: 100%;
        max-width: 80%;
        margin-top: 10px;
    }
    .movie-card {
        width: 100%; /* Exibir um filme por linha em dispositivos muito pequenos */
    }
}
